
.detail{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 20vh 50vh;
  grid-column-gap: 2.5em;
  min-height: 100vh;
  align-items: center;
  color: white;
  font-size: 20px;
}

.button {
  grid-column: 1 / -1;
}

.sprite {
  height: 13em;
  justify-self: center;
}

.basic-details {
  line-height: 1;
  margin-bottom: 0.5em;
}

.id {
  font-size: 1.5em;
}

.icon {
  width: .8em;
  height: .8em;
  margin-right: 5px;
}

.name {
  font-size: 3em;
}

.types {
  color: 'black';
  font-weight: 'bold';
  padding: '3px 10px 5px 10px';
}

.specific-details {
  margin-top: 1em;
  padding: 30px;
  border: solid 1px black;
  border-radius: 15px;
  background-color: #3C3C3C;
  color: #eaeaea;
  font-size: 0.9em;
}

.description {
  line-height: 1.5;
}

.triple-spinner.detail-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}