/* From third-party sources */

.sprite {
    height: 11em;
    justify-self: center;
}

.triple-spinner.detail-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

@media (max-width: 320px) {
  .sprite {
    height: 5em;
  }

  .triple-spinner.detail-loading {
    margin-left: -50px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .sprite {
    height: 6em;
  }

  hr {
    margin: 1em 0;
  }

  .triple-spinner.detail-loading {
    margin-left: -50px;
  }
}

@media (min-width: 377px) and (max-width: 600px) {
  .sprite {
    height: 7.5em;
  }
  hr {
    margin: 1em 0;
  }
  .triple-spinner.detail-loading {
    margin-left: -50px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .sprite {
    height: 6.5em;
  }
  hr {
    margin: 1em 0;
  }
  .triple-spinner.detail-loading {
    margin-left: -50px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .sprite {
    height: 8em;
  }
  hr {
    margin: 1em 0;
  }
  .triple-spinner.detail-loading {
    margin-left: -50px;
  }
}