body {
  min-height: 100vh;
  font-family: 'VCR OSD Mono';
  background-color: #333333;
  background-image: url('./assets/background.png');
  background-repeat: repeat-x;
  background-attachment: fixed;
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: local('VCR OSD Mono'), url(./fonts/VCR_OSD_MONO_1.001.ttf) format('truetype');
}